renv/*
*.Rproj.*
repo.Rproj
.Rhistory
*.pdf
**/.Rprofile
**/.DS_Store
.Rproj.user
*.Rdata
reference
models/processed
writing/results_cache
writing/results_files
writing/results.html
presentations
writing/methodological_supplement_cache
trash
renv
data
writing/drafts
