renv/*
*.Rproj.*
repo.Rproj
.Rhistory
*.pdf
**/.Rprofile
**/.DS_Store
.Rproj.user
*.Rdata
2-models/processed
3-writing/results_cache
3-writing/results_files
3-writing/results.html
3-writing/drafts
3-writing/methodological_supplement_cache
a-data
b-reference
c-presentations
trash
renv
