data/raw/*
data/clean/*
renv/*
*.Rproj.*
repo.Rproj
.Rhistory
*.pdf
**/.Rprofile
**/.DS_Store
.Rproj.user
*.Rdata
/sleep/reference
/sleep/models/processed
/sleep/writing/results_cache
/sleep/writing/results_files
/sleep/writing/results.html
/sleep/presentations
/sleep/writing/methodological_supplement_cache
/sleep/trash
/sleep/renv
/sleep/writing/drafts
